.l-stick-menu
    .l-stick-menu__nav.l-limit-wrap-full.j-menu-nav
        .l-limit-wrap
            .l-stick-menu__cnt
                .l-stick-menu__btn
                    include _close-btn
                .l-stick-menu__form.show-on-desktop
                    .b-booking-form
                        form.b-booking-form__form.j-date-booking(action='' data-noinit
                        data-message="Спасибо, что воспользовались данной услугой. Наш менеджер перезвонит в удобное для вас время.")
                            .b-booking-form__btn
                                button.b-btn.b-btn_width_auto(type="submit" value="Номер") Выбрать номер
                            .b-booking-form__col
                                input.b-booking-form__inp.j-date-inp.j-date-to(
                                type="text"
                                placeholder="Дата отъезда")
                            .b-booking-form__col
                                input.b-booking-form__inp.j-date-inp.j-date-from(
                                type="text"
                                placeholder="Дата заезда")
                .l-stick-menu__form__logo.hide
                    include _mobile-logo
                // show booking popup on click
                .l-stick-menu__btn.show-on-touch
                    a(href="javascript:;").b-btn.b-btn_width_146.j-booking-btn Выбрать номер
    .l-stick-menu__popup.j-menu
        .l-stick-menu__popup-cnt-wrap.j-menu__cnt
            .l-stick-menu__popup-cnt
                .l-stick-menu__logo
                    .b-menu-logo
                        include _logo
                .l-stick-menu__popup-nav
                    nav.b-nav.b-nav_theme_popup
                        ul.b-nav__list
                            li.b-nav__item
                                a(href="/html/atmosphere.html" class=(activePage == 'atmosphere' ? 'b-nav__link is-active': 'b-nav__link')).b-nav__link Атмосфера
                            li.b-nav__item
                                a(href="/html/room.html" class=(activePage == 'room' ? 'b-nav__link is-active' : 'b-nav__link')) Номера
                            li.b-nav__item
                                a(href="/html/actions.html" class=(activePage == 'actions' ? 'b-nav__link is-active': 'b-nav__link'))  Спецпредложения
                            li.b-nav__item
                                a(href="/html/services.html" class=(activePage == 'services' ? 'b-nav__link is-active': 'b-nav__link'))  Дополнительные услуги
                            li.b-nav__item
                                a(href="/html/cafe.html" class=(activePage == 'cafe' ? 'b-nav__link is-active' : 'b-nav__link')) Ресторан
                            li.b-nav__item
                                a(href="/html/contacts.html" class=(activePage == 'contacts' ? 'b-nav__link is-active': 'b-nav__link'))  Контакты

                .l-stick-menu__popup-lang
                    .b-menu-lang.b-menu-lang_theme_popup
                        a(href="/").b-menu-lang__link.is-active ru
                        a(href="/").b-menu-lang__link en

                .l-stick-menu__popup_contacts
                    .b-menu-contacts
                        a(href="tel: +78126708683").b-menu-contacts__tel +7&nbsp;(812)&nbsp;670&ndash;86&ndash;83
                        // Программисту: На странице контактов меняется href на #map-content
                        a(href=(activePage == 'contacts' ? '#map-content' : '/html/contacts.html#map-target')).b-menu-contacts__map.j-stick-map-anchor
                            | г. Санкт-Петербург,
                            | ул. Достоевского, 19/21, лит. Б

    .l-stick-menu__popup.j-booking-popup
        .l-stick-menu__popup-cnt-wrap.j-booking-popup__cnt
            .l-stick-menu__popup-cnt.l-stick-menu__popup-cnt_theme_booking
                .b-booking-form.b-booking-form_theme_popup
                    form.b-booking-form__form(action='' data-noinit
                    data-message="Спасибо, что воспользовались данной услугой. Наш менеджер перезвонит в удобное для вас время.")
                        .b-booking-form__col
                            input.b-booking-form__inp(
                            type="text"
                            placeholder="Дата заезда")
                        .b-booking-form__col
                            input.b-booking-form__inp(
                            type="text"
                            placeholder="Дата отъезда")
                        .b-booking-form__col
                            button.b-btn.b-btn_bg_white(type="submit" value="Номер") Продолжить
