.l-stick-menu
    .l-stick-menu__nav.j-menu-nav
        .l-limit-wrap-full
            .l-stick-menu__cnt
                .l-stick-menu__btn
                    include _close-btn
                .l-stick-menu__form.show-on-desktop
                    .b-booking-form.b-booking-form_theme_stick
                        form.b-booking-form__form(action='/test/ajax/request.php'
                        data-message="Спасибо, что воспользовались данной услугой. Наш менеджер перезвонит в удобное для вас время.")
                            .b-booking-form__col
                                input.b-booking-form__inp.j-date-booking(
                                id="booking-from"
                                type="text"
                                placeholder="Дата заезда")
                            .b-booking-form__col
                                input.b-booking-form__inp.j-date-booking(
                                id="booking-to"
                                type="text"
                                placeholder="Дата отъезда")
                            .b-booking-form__col
                                select
                                    option(value="empty") Кол-во гостей
                                    -for (var i = 1; i < 5; i++ )
                                    option(value="#{i}") #{i}
                            button.b-btn.b-btn_width_auto.b-booking-form__btn(type="submit" value="Номер") Выбрать номер
                .l-stick-menu__form__logo.hide
                    include _mobile-logo
                .l-stick-menu__btn.show-on-touch
                    a(href="#").b-btn.b-btn_width_auto Выбрать номер
    .l-stick-menu__popup.j-menu
        .l-stick-menu__popup-cnt
            .l-stick-menu__popup-nav
                nav.b-nav.b-nav_theme_popup
                    ul.b-nav__list
                        li.b-nav__item
                            a(href="/").b-nav__link.is-active Атмосфера
                        li.b-nav__item
                            a(href="#").b-nav__link Номера
                        li.b-nav__item
                            a(href="#").b-nav__link Спецпредложения
                        li.b-nav__item
                            a(href="#").b-nav__link Дополнительные услуги
                        li.b-nav__item
                            a(href="#").b-nav__link Ресторан
                        li.b-nav__item
                            a(href="#").b-nav__link Контакты

            .l-stick-menu__popup-lang
                .b-menu-lang.b-menu-lang_theme_popup
                    a(href="/").b-menu-lang__link.is-active ru
                    a(href="/").b-menu-lang__link en

            .l-stick-menu__popup_contacts
                .b-menu-contacts
                    a(href="tel: +78126708683").b-menu-contacts__tel +7&nbsp;(812)&nbsp;670&ndash;86&ndash;83
                    a(href="javascript:;").b-menu-contacts__map
                        | г.Санкт-Петербург
                        | <br>ул.Достоевского, 19/21, лит.Б
