extends _layout
block vars
    -var activePage = 'atmosphere'
block title
    title Ресторан
block gallery
    .b-cafe-gallery(style="background-image: url('/img/atmosphere-bg-1.jpg');")
         .b-cafe-gallery__border
             .b-cafe-gallery__cnt
                 h2.b-cafe-gallery__ttl Дух Петербурга <br>в каждой детали
                 .b-cafe-gallery__txt Атмосфера складывается из многих деталей: внешнее окружение отеля, внутренние интерьеры и дизайн номеров, отношение персонала. Каждая из этих составляющих бутик-отеля наполнена духом Санкт-Петербурга, а все вместе они погружают гостей в петербургский мир.

block content
    .l-main-wrap
        section.l-article.l-limit-wrap.no-padding
            .l-article__cnt
                .b-card.b-card_theme_gallery
                    .b-card__border
                        .b-card__cnt
                            .b-card__header
                                h1.b-card__ttl Расположение
                            .b-card__descr
                                p Отель "Ахиллес и Черепаха" расположен в историческом центре Петербурга, полном своих историй и легенд. Улица Достоевского –  одно из тихих мест центрального района города – берет свое начало у Владимирского собора, являющегося архитектурным памятником второй половины XVIII века. На собор выходят окна квартиры Ф.М. Достоевского – именно тут было написано последнее произведение автора – роман "Братья Карамазовы". Сейчас в этом здании находится литературно-мемориальный музей писателя.
                                p На улице Достоевского можно увидеть множество старинных домов, построенных еще в XIX веке. В одном из них и разместился бутик-отель "Ахиллес и Черепаха".
                                br
                                a(href="#popup-map-common").b-btn.b-btn_width_auto.j-map-popup Посмотреть на карте
                        .b-card__gallery
                            .b-gallery.j-gallery.j-gallery_theme_mobile.j-gallery_theme_tablet
                                .b-gallery__base(
                                data-height="800"
                                data-width="100%"
                                data-arrows="false"
                                data-nav="dots"
                                data-fit="cover"
                                data-loop="true"
                                data-autoplay="false"
                                data-transition="dissolve"
                                data-transitionduration="600"
                                data-margin="-1")
                                    a(href="/img/card/card-2.jpg")
                                    a(href="/img/card/card-3.jpg")
                                    a(href="/img/card/card-4.jpg")
                                    a(href="/img/card/card-5.jpg")
                                    a(href="/img/card/card-6.jpg")

                                a(href="javascript:;").j-gallery__prev.b-gallery__arrow.b-gallery__arrow_show_prev Показать предыдущий слайд
                                a(href="javascript:;").j-gallery__next.b-gallery__arrow.b-gallery__arrow_show_next Показать следущий слайд
        section.l-services
            .l-services__tiles.l-limit-wrap.no-padding
                .l-services__tile.l-services__tile_numb_9
                    .b-service.hover-img
                        .b-service__header
                            .b-service__ttl-note.b-service__ttl-note_font-size_small Петербург уже давно<br/> описан, а что не описано,<br/> то надо видеть самому.
                        p И. Гончаров
                        .b-service__img-wrap
                            .b-service__img(style="background-image: url('/img/services/service-7.jpg');")
                .l-services__tile.l-services__tile_numb_10
                    .b-service.has-lines.hover-img
                        .b-service__border
                            .b-service__header
                                .b-service__ttl-note.b-service__ttl-note_font-size_small Пушкин. Тютчев. Некрасов. Блок.<br/>Ахматова. Мандельштам…<br/>Это всё — псевдонимы. <br/> Автор — Петербург..
                            p Л. Чуковская
                        .b-service__img-wrap
                            .b-service__img(style="background-image: url('/img/services/service-8.jpg');")
                .l-services__tile.l-services__tile_numb_11.hide-on-tablet
                    .b-service.hover-img
                        .b-service__header
                            .b-service__ttl-note.b-service__ttl-note_font-size_small Чего ловить в Петербурге — не очень  понятно. Это не скажешь словами. Это либо чувствуешь всей кожей, либо никогда не объяснишь, о чем речь.
                        p И. Стогoff
                        .b-service__img-wrap
                            .b-service__img(style="background-image: url('/img/services/service-9.jpg');")
            .l-services__btn
                .b-propose
                    .b-propose__ttl Вы хотите прочесть другие цитаты?
                    .b-propose__btn
                        a(href="javascript:;").b-btn.b-btn_width_auto Посмотреть еще

        section.l-showcase.l-showcase_theme_img-bg.border-vertical
            .l-showcase__descr.border-horizontal
                .b-showcase.b-showcase_theme_atmosphere
                    .b-showcase__cnt
                        .b-showcase__header
                            h1.b-showcase__ttl Уютное
                            .b-showcase__ttl-note пространство отеля
                        p Уютное пространство отеля не позволит чувству настоящего Петербурга покинуть вас. Каждый из номеров обладает своим характером и историей, но объединяет их общая атмосфера – которой пронизана каждая деталь.
                        .b-typo-reset
                            ul
                                li Авторские интерьеры, выполненные в классическом стиле.
                                li Мансардные окна с видом на петербургское небо.
                                li Натуральные материалы и необычные архитектурные элементы в дизайне.
            .l-showcase__gallery
                .b-gallery.j-gallery.j-gallery_theme_mobile
                    .b-gallery__base(
                    data-height="650"
                    data-width="100%"
                    data-arrows="false"
                    data-nav="dots"
                    data-fit="cover"
                    data-loop="true"
                    data-autoplay="false"
                    data-transition="dissolve"
                    data-transitionduration="600"
                    data-margin="-1")
                        a(href="/img/card/card-1.jpg")
                        a(href="/img/card/card-1.jpg")
                        a(href="/img/card/card-1.jpg")

                    a(href="javascript:;").j-gallery__prev.b-gallery__arrow.b-gallery__arrow_show_prev Показать предыдущий слайд
                    a(href="javascript:;").j-gallery__next.b-gallery__arrow.b-gallery__arrow_show_next Показать следущий слайд

        section.l-article.l-limit-wrap.no-padding
            .l-article__cnt
                .b-article.b-article__theme_atmosphere-page
                    .b-article__border.b-article__border_scheme_3
                        .b-article__img-wrap
                            img(src="/img/atmosphere-bg-1.svg" alt="Зарисовка часов")
                        article.b-article__cnt
                            .b-article__header
                                .b-article__ttl-note Мы всегда на связи
                            p Гостей, впечатленных видами исторического Петербурга, встретит приветливый персонал, который возьмет на себя не только размещение в номерах, но и всегда будет на связи и не оставит без внимания ни одну просьбу. Мы поможем добраться до отеля, вызовем такси в любую точку города или просто поделимся интересными историями о нашем городе за чашечкой чая, которым всегда можно насладиться в гостевой зоне на первом этаже.

        .l-propose
            .b-propose
                .b-propose__ttl Вы хотите ощутить дух Петербурга?
                .b-propose__btn
                    a(href="#").b-btn.b-btn_width_auto Выбрать номер
