extends _layout
block vars
    -var activePage = 'cafe'
block title
    title Ресторан
block gallery
     .b-cafe-gallery
         .b-cafe-gallery__border
             .b-cafe-gallery__cnt
                 h2.b-cafe-gallery__ttl Весной 2016 года ожидается открытие трехэтажного ресторанного комплекса «Симпозиум»
                 .b-cafe-gallery__txt Включающего в себя литературный ресторан, философское кафе, сигарный клуб и банкетный зал с открытой террасой на крыше

block content
    .l-main-wrap.is-stick
        section.l-showcase
            .l-showcase__descr
                .b-showcase
                    .b-showcase__cnt
                        .b-showcase__header
                            h1.b-showcase__ttl Интерьеры
                            .b-showcase__ttl-note комплекса
                        p Классический стиль, дополненный лофтовыми элементами. Кирпичные стены первого этажа, который займут кафе и кулинария, будут окрашены в разные цвета, как и яркие венские стулья. Необычная мебель и декор: пространство украсят библиотечные картотеки и античные бюсты.
                        p Ресторан расположится на двух верхних этажах, обладающих своими особенностями: колонны, камины, роспись на потолке, множество книг на полках, фрески на стенах, декор из античных бюстов, а также плитка на полу, повторяющая рисунки древних храмов.
            .l-showcase__gallery
                .b-gallery.j-gallery.j-gallery_theme_mobile
                    .b-gallery__base(
                    data-height="600"
                    data-width="100%"
                    data-arrows="false"
                    data-nav="dots"
                    data-fit="cover"
                    data-loop="true"
                    data-autoplay="false"
                    data-margin="-1")
                        a(href="/img/card/card-1.jpg")
                        a(href="/img/card/card-1.jpg")
                        a(href="/img/card/card-1.jpg")

                    a(href="javascript:;").j-gallery__prev.b-gallery__arrow.b-gallery__arrow_show_prev Показать предыдущий слайд
                    a(href="javascript:;").j-gallery__next.b-gallery__arrow.b-gallery__arrow_show_next Показать следущий слайд
                    
        section.l-cafe-feature
            .l-cafe-feature__img-wrap
                img(src="/img/card/card-2.png" alt="Кувшин")
            .l-cafe-feature__border
                .l-cafe-feature__cnt
                    .l-cafe-feature__txt
                        p В меню ресторана будут представлены как традиционные блюда европейской кухни, так и авторские задумки шеф-повара Алексея Ермакова. Помимо этого, гости комплекса смогут познакомиться с «книжным меню»: пока вы отдыхаете в ресторане, мы напечатаем для вас выбранную книгу.
                    .l-cafe-feature__headings
                        h2 Мы создаем клубную атмосферу интеллектуальной элитарности и творческой открытости для встреч с друзьями и новых знакомств!
