extends _layout-home
block title
    title Главная страница
block content
    .l-home.l-limit-wrap
        section.l-home__header
            .l-home__menu
                .l-home-menu
                    .l-home-menu__logo
                        .b-menu-logo
                            include blocks/_logo
                            .b-menu-logo__txt boutique hotel

                    .l-home-menu__nav
                        include blocks/_nav

                    .l-home-menu__contacts
                        .b-menu-contacts
                            a(href="tel: +78126708683").b-menu-contacts__tel +7&nbsp;(812)&nbsp;670&ndash;86&ndash;83
                            a(href="javascript:;").b-menu-contacts__map
                                | г.Санкт-Петербург
                                | <br>ул.Достоевского, 19/21, лит.Б

                    .l-home-menu__lang
                        .b-menu-lang
                            a(href="/").b-menu-lang__link.is-active ru
                            a(href="/").b-menu-lang__link en

                    .l-home-menu__reviews
                        .b-menu-reviews
                            .b-menu-reviews__rate
                            .b-menu-reviews__txt по мнению tripadvisor.ru
                            a(href="#").b-menu-reviews__link Посмотреть отзывы
            .l-home__booking-info
                .l-home__gallery
                    include blocks/_gallery

                .l-home__booking
                    .b-booking-form
                        form.b-booking-form__form(action='/test/ajax/request.php'
                            data-message="Спасибо, что воспользовались данной услугой. Наш менеджер перезвонит в удобное для вас время.")
                            .b-booking-form__info
                                .b-booking-form__info-ttl 14 номеров
                                .b-booking-form__txt забронировали сегодня
                            input.b-booking-form__inp.j-date-booking(
                                id="booking-from"
                                type="text"
                                placeholder="Дата заезда")
                            input.b-booking-form__inp.j-date-booking(
                                id="booking-to"
                                type="text"
                                placeholder="Дата отъезда")
                            .b-booking-form__select
                                select
                                    option(value="empty") Кол-во гостей
                                    -for (var i = 1; i < 5; i++ )
                                        option(value="#{i}") #{i}
                            button.b-btn.b-btn_width_auto.b-booking-form__btn(type="submit" value="Номер") Выбрать номер


        .l-home__cnt
            section.l-feature.hide
                .l-feature__cnt
                    .b-feature
                        .b-feature__border
                            .b-feature__border-wrap
                                .b-feature__img-wrap
                                    img(src="/img/feature-1.png" alt="Зарисовка дома Ф.М. Достоевского")
                                .b-feature__cnt
                                    .b-feature__ttl-note В каждой детали
                                    h1.b-feature__ttl Дух Петербурга
                                    p Бутик-отель «Ахиллес и Черепаха» находится в
                                        | историческом центре Санкт-Петербурга рядом с известным домом Ф.М. Достоевского,
                                        | который сейчас занимает литературно-мемориальный музей писателя. Расположенный
                                        | в здании доходного дома XIX века, отель наполнен духом непарадного Петербурга – им
                                        | пронизана каждая деталь: от натуральных материалов в дизайне до открывающегося
                                        | из окон вида на мятежное петербургское небо.
                                    .b-feature__btn
                                        a(href="#").b-btn.b-btn_width_auto Ощутить вдохновение

            section.l-feature
                .l-feature__cnt
                    .b-feature
                        .b-feature__img-wrap
                            img(src="/img/feature-2.png" alt="Морская черепаха")
                        .b-feature__cnt
                            .b-feature__header
                                h1.b-feature__ttl 10 уютных номеров
                                .b-feature__ttl-note для любого типа поездки
                            ul.b-feature__list
                                li.b-feature__item
                                    .b-feature__item-img
                                    .b-feature__item-txt Экологичная мебель и средства для уборки
                                li.b-feature__item
                                    .b-feature__item-img.b-feature__item-img_img_bed
                                    .b-feature__item-txt Комфортные спальные места
                                li.b-feature__item
                                    .b-feature__item-img.b-feature__item-img_img_window
                                    .b-feature__item-txt Мансардные окна
                                li.b-feature__item
                                    .b-feature__item-img.b-feature__item-img_img_fan
                                    .b-feature__item-txt Кондиционер
                                li.b-feature__item
                                    .b-feature__item-img.b-feature__item-img_img_eat
                                    .b-feature__item-txt Континентальный завтрак
                                li.b-feature__item
                                    .b-feature__item-img.b-feature__item-img_img_wi-fi
                                    .b-feature__item-txt Высокоскоростной Wi-Fi
